# Algae Bloom Data Investigation
https://msoese.atlassian.net/browse/WABS-23

In [1]:
# Import libraries
import pandas as pd

In [17]:
# Read in the data set
df = pd.read_csv("../../data/cleaned/site1_vineyard.csv")
df.describe()

,Temp C,Sp Cond (uS/cm),pH (mV),pH,Trubidity (NTU),Chlorophyll (ug/L),Chlorophyll RFU,ODOSat%,ODO (mg/L),BGA-Phycocyanin RFU
count,18947.000000,18947.000000,18947.000000,18947.000000,18947.000000,18947.000000,18947.00000,18947.000000,18947.000000,18947.000000
mean,18.488235,1933.564575,-116.806951,8.633415,58.129348,9.494712,2.62507,87.056980,8.179008,0.979511
std,6.134464,151.800551,8.973830,0.147231,54.622278,6.464266,1.70465,13.793755,1.278416,0.731423
min,5.630000,3.000000,-153.700000,7.930000,0.660000,-0.300000,0.00000,62.800000,5.170000,0.000000
25%,12.700000,1848.000000,-120.800000,8.530000,29.850000,4.700000,1.40000,80.000000,7.260000,0.500000
50%,20.320000,1939.000000,-115.700000,8.650000,42.140000,8.200000,2.30000,83.200000,8.080000,0.900000
75%,23.630000,2070.000000,-112.100000,8.700000,65.795000,12.300000,3.40000,88.900000,9.250000,1.200000
max,28.570000,2164.000000,-76.500000,9.230000,636.700000,102.000000,27.00000,209.700000,16.170000,16.100000

In [18]:
df.dtypes

Date (mm.dd.yyy)        object
Time 24hr               object
Temp C                 float64
Sp Cond (uS/cm)          int64
pH (mV)                float64
pH                     float64
Trubidity (NTU)        float64
Chlorophyll (ug/L)     float64
Chlorophyll RFU        float64
ODOSat%                float64
ODO (mg/L)             float64
BGA-Phycocyanin RFU    float64
dtype: object

In [19]:
# Create a new column categorizing an algae bloom
df["bloom"] = df["BGA-Phycocyanin RFU"].apply(lambda x: 1 if x >= 1.0 else 0)
df["bloom"] = df["bloom"].astype("bool")
df.head()

,Date (mm.dd.yyy),Time 24hr,Temp C,Sp Cond (uS/cm),pH (mV),pH,Trubidity (NTU),Chlorophyll (ug/L),Chlorophyll RFU,ODOSat%,ODO (mg/L),BGA-Phycocyanin RFU,bloom
0,5/5/2017,0:00,15.02,1848,-100.1,8.36,16.84,4.4,1.3,90.2,9.04,0.4,False
1,5/5/2017,0:15,14.99,1847,-100.1,8.36,16.76,4.2,1.2,90.2,9.04,0.4,False
2,5/5/2017,0:30,14.96,1847,-100.1,8.36,16.82,4.3,1.3,90.1,9.04,0.4,False
3,5/5/2017,0:45,14.95,1848,-100.1,8.36,17.19,4.5,1.3,90.0,9.03,0.4,False
4,5/5/2017,1:00,14.92,1848,-100.0,8.36,16.85,4.5,1.3,89.8,9.02,0.4,False

In [27]:
#Add a single datetime column
df["datetime"] = df["Date (mm.dd.yyy)"] + " " + df["Time 24hr"]
df["datetime"] = pd.to_datetime(df["datetime"])

## Variables vs BGA RFU Charts